<h1>Hello
    <%= user.username%>
</h1>
<h2>Name of the event :</h2>
<h2>Date and Time of the event :</h2>
<h2>Suggested price limit :</h2>
<h2>People in the exchange :</h2>

<a href="/users/logout" class="btn btn-secondary">Logout</a>